[submodule "Recreating_printf_function"]
	path = Recreating_printf_function
	url = git@github.com:nick-ras/Recreating_printf_function.git
[submodule "push_swap/libftprintf"]
	path = push_swap/libftprintf
	url = git@github.com:nick-ras/libftprintf.git
[submodule "libftprintf"]
	path = libftprintf
	url = git@github.com:nick-ras/libftprintf.git
[submodule "Push_swap"]
	path = Push_swap
	url = git@github.com:nick-ras/Push_swap.git
[submodule "Get_Next_Line"]
	path = Get_Next_Line
	url = git@github.com:nick-ras/Get_Next_Line.git
